body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    margin-top: 30px;
}

h2 {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

iframe {
    border: 1px solid #000000;
}